<div class="row">
  <div class="col-md-6 offset-md-3 mt-5">
    <div id="panel">
      <h3>Mój profil</h3>
      <hr>
      <div *ngIf="customer">
        <div>
          <label><b>Imię: </b></label> {{customer.name}}
        </div>
        <div>
          <label><b>Nazwisko: </b></label> {{customer.surname}}
        </div>
        <div>
          <label><b>E-mail: </b></label> {{customer.email}}
        </div>
        <div>
          <label><b>Numer telefonu: </b></label> {{customer.phoneNumber}}
        </div>
        <div class="btn-group">
          <button class="btn btn-primary" routerLink="/pacjent/edycja_danych_pacjenta" ><i class="fas fa-cog"></i>   Edytuj dane</button>
          <button id="k" class="btn btn-primary" (click)="deleteCustomer(id)" ><i class="fas fa-trash"></i>   Usuń konto </button>
        </div>
      </div>
    </div>
  </div>
</div>

