<div classes="col-xs-12">
  <h2>Relizowane zamówienia</h2>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Data</th>
      <th>Cena</th>
      <th>Status</th>
      <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders | async">
          <td>{{onFormatDate(order.date)}}</td>
          <td [ngClass]="{
            'ordered' : statusShow[order.status] == 'Złożone',
            'prepared' : statusShow[order.status] == 'Przygotowane',
            'delivered' : statusShow[order.status] == 'Dostarczone'
            }"> {{statusShow[order.status]}}</td>
          <td>
            <form (ngSubmit)="onSubmit()">
              <button (click)="changeStatus(order.id)" class="btn btn-primary" *ngIf="order.status === 'PREPARED'" style="margin-left: 10px" id="k2">Dostarczone do klienta</button>
            </form>
          </td>
        </tr>
    </tbody>
  </table>
</div>
