<div classes="col-xs-12">
  <h2>Moje zamówienia klientów</h2>



  <table class="table table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Data</th>
      <th>Status</th>
      <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
    <!--    <tr *ngFor="let form of forms | async">-->
    <!--      <td>{{form.id_Form}}</td>-->
    <!--      <td>{{form.adress}}</td>-->
    <!--      <td>{{form.subject}}</td>-->
    <!--      <td>{{form.status}}</td>-->
    <!--      <td>-->
    <!--        <button (click)="formDetails(form.id_Form)" class="btn btn-info" style="margin-left: 10px" id="k">Podgląd</button>-->
    <!--        <button (click)="updateForm(form.id_Form)" class="btn btn-primary" style="margin-left: 10px" id="k2">Dostarczone</button>-->
    <!--      </td>-->
    <!--    </tr>-->
    </tbody>
  </table>
</div>
