<div classes="col-xs-12">
  <h2>Relizowane zamówienia</h2>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Data</th>
      <th>Status</th>
      <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders | async">
          <td>{{order.date}}</td>
          <td>{{order.status}}</td>
          <td>
            <form (ngSubmit)="onSubmit()">
              <button (click)="changeStatus(order.id_Order)" class="btn btn-primary" style="margin-left: 10px" id="k2">Dostarczone do klienta</button>
            </form>
          </td>
        </tr>
    </tbody>
  </table>
</div>
