<div classes="col-xs-12">
  <h2>Zamówienia</h2>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Data</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders | async">
          <td>{{onFormatDate(order.date)}}</td>
          <td [ngClass]="{
            'ordered' : order.status == 'ORDER',
            'prepared' : order.status == 'PREPARED',
            'delivered' : order.status == 'DELIVERED'
            }"> {{order.status}}</td>        </tr>
    </tbody>
  </table>
</div>
