<div classes="col-xs-12">
  <h2>Zamówienia</h2>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Data</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders | async">
          <td>{{onFormatDate(order.date)}}</td>
          <td [ngClass]="{
            'ordered' : statusShow[order.status] == 'Złożone',
            'prepared' : statusShow[order.status] == 'Przygotowane',
            'delivered' : statusShow[order.status] == 'Dostarczone'
            }"> {{statusShow[order.status]}}</td>        </tr>
    </tbody>
  </table>
</div>
