<div classes="col-xs-12">
  <h2>Twoje zamówienie</h2>

  <br>
  <br>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th>Danie</th>
      <th>Cena</th>
    </tr>
    </thead>
    <tbody>
    <!--    <tr *ngFor="let form of forms | async">-->
    <!--      <td>{{form.subject}}</td>-->
    <!--      <td>{{form.status}}</td>-->
    <!--      <td>-->
    <!--        <button (click)="formDetails(form.id_Form)" class="btn btn-info" style="margin-left: 10px" id="k">Usuń</button>-->
    <!--      </td>-->
    <!--    </tr>-->
    </tbody>
  </table>
  <br>
  <button class="btn btn-primary"><i class="fas fa-arrow-circle-right"></i>  Zamów</button><br>
</div>
