<div classes="col-xs-12">
  <h2>Twoje zamówienie</h2>

  <br>
  <br>

  <table id=table class="table table-borderless">
    <thead>
    <tr>
      <th>Danie</th>
      <th>Cena</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of basket">
          <td>{{item.name}}</td>
          <td>{{item.price}} zł</td>
<!--          <td>-->
<!--            <span ng-click="removeItem($index)" class="pointer glyphicon glyphicon-remove" aria-hidden="true"></span>-->
<!--          </td>-->
    </tr>
    <hr>
    <tr>
          <th id="right">Kwota zamówienia: <span ng-bind="total" ></span><span> zł</span></th>
    </tr>
    </tbody>
  </table>
  <br>
  <button class="btn btn-primary" (click)="save()"><i class="fas fa-arrow-circle-right"></i>  Zamów</button><br>
</div>

