#k{
  width: 100px;
  background-color: white;
  color: dimgrey;
  border: 2px solid dimgrey;
  font: bold 15px Calibri;
  margin-top: 5px;
}

#k2{
  width: 135px;
  background-color: white;
  color: #DAA520	;
  border: 2px solid #DAA520	;
  font: bold 15px Calibri;
  margin-top: 5px;
}

h2{
  color: #DAA520;
  font-weight: bold;
  font-family: Calibri;
  margin-top: 50px;
  margin-bottom: 20px;
}

#margines{
  width: 1000px;
  margin: auto auto auto;
}

#k3{
  background-color: white;
  color: darkred;
  border: 2px solid darkred;
  font: bold 15px Calibri;
  margin-top: 5px;
  width: 100px;
  margin-left: 20px;
}


#message{
  /*color: #2855BD;*/
  color: black;
  font: 20px Calibri;
  width: 800px;
  height: 200px;
  margin: auto auto auto;
  border: 1px solid dimgrey;
}

h2{
  color: #DAA520;
  font-weight: bold;
  font-family: Calibri;
  margin-top: 50px;
}

input {
  display: block;
  width: 800px;
  padding: 8px 5px;
  border: 1px solid dimgrey;
  font: 20px Calibri;
  color: #DAA520;
  margin: auto auto auto;
}

button {
  width: 150px;
  height: 60px;
  background-color: white;
  color: #DAA520;
  border: 2px solid #DAA520;
  font-weight: bolder;
  display: block;
  font-size: 17px;
  margin-left: 6px;
}

button[disabled]{
  width: 190px;
  height: 60px;
  background-color: white;
  color: #DAA520;
  border: 2px solid #DAA520;
  font-weight: bolder;
  display: block;
  font-size: 17px;
}
button:hover {
  background-color: #DAA520;
  color: white;
  border: #DAA520;
}

label {
  display: block;
  width: 280px;
  padding: 8px 5px;
  color: dimgrey;
  font: bold 22px Calibri;

}

#new {
  width: 300px;
  height: 60px;
  background-color: white;
  color: #DAA520;
  border: 2px solid #DAA520;
  font-weight: bolder;
  display: block;
  font-size: 17px;
  margin: auto auto auto;
}

#panel{
  width: 440px;
}

h4{
  color: dimgrey;
}
hr{
  margin-top: 50px;
  /*width: 800px;*/
}
#right{
  color: dimgray;
  font-size: 17px;

}

#trash{
  color: darkred;
  border: 2px solid white;
  font-size: larger;
}
