<div class="row">
  <div class="col-md-6 offset-md-3 mt-5">
    <div id="panel">
      <h3>Mój profil</h3>
      <hr>
      <div *ngIf="supplier">
        <div>
          <label><b>Imię: </b></label> {{supplier.name}}
        </div>
        <div>
          <label><b>Nazwisko: </b></label> {{supplier.surname}}
        </div>
        <div>
          <label><b>E-mail: </b></label> {{supplier.email}}
        </div>
      <div class="btn-group">
        <button class="btn btn-primary" routerLink="/dostawca/edycja_danych_dostawcy" ><i class="fas fa-cog"></i>   Edytuj dane</button>
      </div>
    </div>
  </div>
</div>
</div>
