<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="panel2">
  <a class="navbar-brand" href="#" id="name" routerLink="zamowienia">JustDeliver</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav nav-flex-icons ml-auto" >
      <li class="nav-item">
        <a id="k1" class="nav-link" routerLink="dane_osobowe_dostawcy"><i class="far fa-user"></i>  Mój profil</a>
      </li>
      <li class="nav-item">
        <a id="k2" class="nav-link" (click)="handleLogout()"><i class="fas fa-sign-out-alt"></i>  Wyloguj się</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-xs-12" id="panel" >
      <ul class=" nav nav-pills nav-fill nav justify-content-center">
<!--         <li role="presentation" class="active"><a href="#">Formularz</a></li>-->
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="zamowienia"><i class="fas fas fas fa-list"></i>    Zamówienia</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="realizowane_zamowienia"><i class="fas fa-clipboard-list"></i>    Moje zamówienia</a></li>
      </ul>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
