
<div class="row" [hidden]="submitted">
  <div class="col-md-6 offset-md-3 mt-5">
    <div id="panel">
      <h1>Zarejestruj się do COOKCar</h1>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group">
          <input
            type="text"
            id="name" class="form-control"
            ngModel
            name="name"
            required
            [(ngModel)]="customer.name"

            placeholder="Imię"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            id="surname"
            class="form-control"
            ngModel
            name="surname"
            required
            [(ngModel)]="customer.surname"

            placeholder="Nazwisko"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            id="email" class="form-control"
            ngModel
            name="email"
            required
            [(ngModel)]="customer.email"
            placeholder="E-mail"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            [(ngModel)]="customer.password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            placeholder="Hasło"
          />
          <small id="passwordMin" class="form-text text-muted">Hasło musi składać się przynajmniej z 1 cyfry i jednej dużej oraz małej litery oraz min. 8 znaków.</small>
        </div>
        <div class="form-group">
          <input
            type="text"
            id="number" class="form-control"
            ngModel
            name="number"
            pattern="[0-9]{9}"
            placeholder="Numer telefonu"
          />
          <small id="numberMin" class="form-text text-muted">Numer telefonu jest opcjonalny.</small>
        </div>
        <div>
          <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
          ZAREJESTRUJ SIĘ
          </button>
          <button class="btn btn-primary" (click)="gotoList()" type="button">
          ZALOGUJ SIĘ
          </button>
        </div>
      </form>
      <h2 id="account">Masz już konto?</h2>
    </div>
  </div>
</div>

<div [hidden]="!submitted" class="col-md-15 offset-md-3 mt-15">
  <div class="card" id="panel3">
    <div class="card-body" >
      <div>
        <h4>Rejestracja przebiegła pomyślnie.</h4>
        <br>
        <button class="btn-primary"  id="new" ><i class="fas fa-plus"></i>  Zaloguj się</button>
      </div>
    </div>
  </div>
</div>

